.screenReaderVisibility {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.WizardFieldErrorDetailsList {
    display: none;
    padding-block-start: var(--t-gs--space--xs, var(--spacer--xs, 4px));
}