:root {
    --a-gs--color--background--default: var(--t-gs--color--background--default);
    --a-gs--color--background--secondary: var(--t-gs--color--background--secondary);
    --a-gs--color--background--tertiary: var(--t-gs--color--background--tertiary);
    --a-gs--color--background--transparent: var(--t-gs--color--background--transparent);
    --a-gs--color--border--brand: var(--t-gs--color--border--brand);
    --a-gs--color--border--default: var(--t-gs--color--border--default);
    --a-gs--color--border--emphasis: var(--t-gs--color--border--emphasis);
    --a-gs--color--border--error: var(--t-gs--color--border--error);
    --a-gs--color--border--info: var(--t-gs--color--border--info);
    --a-gs--color--border--on--fill--brand--active: var(--t-gs--color--border--on--fill--brand--active);
    --a-gs--color--border--on--fill--brand--disabled: var(--t-gs--color--border--on--fill--brand--disabled);
    --a-gs--color--border--on--fill--brand--focus: var(--t-gs--color--border--on--fill--brand--focus);
    --a-gs--color--border--on--fill--brand--hover: var(--t-gs--color--border--on--fill--brand--hover);
    --a-gs--color--border--on--fill--brand--selected: var(--t-gs--color--border--on--fill--brand--selected);
    --a-gs--color--border--on--fill--brand: var(--t-gs--color--border--on--fill--brand);
    --a-gs--color--border--on--fill--default--active: var(--t-gs--color--border--on--fill--default--active);
    --a-gs--color--border--on--fill--default--disabled: var(--t-gs--color--border--on--fill--default--disabled);
    --a-gs--color--border--on--fill--default--focus: var(--t-gs--color--border--on--fill--default--focus);
    --a-gs--color--border--on--fill--default--hover: var(--t-gs--color--border--on--fill--default--hover);
    --a-gs--color--border--on--fill--default--selected: var(--t-gs--color--border--on--fill--default--selected);
    --a-gs--color--border--on--fill--default: var(--t-gs--color--border--on--fill--default);
    --a-gs--color--border--on--fill--emphasis--active: var(--t-gs--color--border--on--fill--emphasis--active);
    --a-gs--color--border--on--fill--emphasis--disabled: var(--t-gs--color--border--on--fill--emphasis--disabled);
    --a-gs--color--border--on--fill--emphasis--focus: var(--t-gs--color--border--on--fill--emphasis--focus);
    --a-gs--color--border--on--fill--emphasis--hover: var(--t-gs--color--border--on--fill--emphasis--hover);
    --a-gs--color--border--on--fill--emphasis--selected: var(--t-gs--color--border--on--fill--emphasis--selected);
    --a-gs--color--border--on--fill--emphasis: var(--t-gs--color--border--on--fill--emphasis);
    --a-gs--color--border--on--fill--error: var(--t-gs--color--border--on--fill--error);
    --a-gs--color--border--on--fill--info: var(--t-gs--color--border--on--fill--info);
    --a-gs--color--border--on--fill--link--active: var(--t-gs--color--border--on--fill--link--active);
    --a-gs--color--border--on--fill--link--disabled: var(--t-gs--color--border--on--fill--link--disabled);
    --a-gs--color--border--on--fill--link--focus: var(--t-gs--color--border--on--fill--link--focus);
    --a-gs--color--border--on--fill--link--hover: var(--t-gs--color--border--on--fill--link--hover);
    --a-gs--color--border--on--fill--link--selected: var(--t-gs--color--border--on--fill--link--selected);
    --a-gs--color--border--on--fill--link: var(--t-gs--color--border--on--fill--link);
    --a-gs--color--border--on--fill--primary--active: var(--t-gs--color--border--on--fill--primary--active);
    --a-gs--color--border--on--fill--primary--disabled: var(--t-gs--color--border--on--fill--primary--disabled);
    --a-gs--color--border--on--fill--primary--focus: var(--t-gs--color--border--on--fill--primary--focus);
    --a-gs--color--border--on--fill--primary--hover: var(--t-gs--color--border--on--fill--primary--hover);
    --a-gs--color--border--on--fill--primary--selected: var(--t-gs--color--border--on--fill--primary--selected);
    --a-gs--color--border--on--fill--primary: var(--t-gs--color--border--on--fill--primary);
    --a-gs--color--border--on--fill--secondary--active: var(--t-gs--color--border--on--fill--secondary--active);
    --a-gs--color--border--on--fill--secondary--disabled: var(--t-gs--color--border--on--fill--secondary--disabled);
    --a-gs--color--border--on--fill--secondary--focus: var(--t-gs--color--border--on--fill--secondary--focus);
    --a-gs--color--border--on--fill--secondary--hover: var(--t-gs--color--border--on--fill--secondary--hover);
    --a-gs--color--border--on--fill--secondary--selected: var(--t-gs--color--border--on--fill--secondary--selected);
    --a-gs--color--border--on--fill--secondary: var(--t-gs--color--border--on--fill--secondary);
    --a-gs--color--border--on--fill--success: var(--t-gs--color--border--on--fill--success);
    --a-gs--color--border--on--fill--tertiary--active: var(--t-gs--color--border--on--fill--tertiary--active);
    --a-gs--color--border--on--fill--tertiary--disabled: var(--t-gs--color--border--on--fill--tertiary--disabled);
    --a-gs--color--border--on--fill--tertiary--focus: var(--t-gs--color--border--on--fill--tertiary--focus);
    --a-gs--color--border--on--fill--tertiary--hover: var(--t-gs--color--border--on--fill--tertiary--hover);
    --a-gs--color--border--on--fill--tertiary--selected: var(--t-gs--color--border--on--fill--tertiary--selected);
    --a-gs--color--border--on--fill--tertiary: var(--t-gs--color--border--on--fill--tertiary);
    --a-gs--color--border--on--fill--warning: var(--t-gs--color--border--on--fill--warning);
    --a-gs--color--border--success: var(--t-gs--color--border--success);
    --a-gs--color--border--transparent: var(--t-gs--color--border--transparent);
    --a-gs--color--border--warning: var(--t-gs--color--border--warning);
    --a-gs--color--fill--brand--active: var(--t-gs--color--fill--brand--active);
    --a-gs--color--fill--brand--disabled: var(--t-gs--color--fill--brand--disabled);
    --a-gs--color--fill--brand--focus: var(--t-gs--color--fill--brand--focus);
    --a-gs--color--fill--brand--hover: var(--t-gs--color--fill--brand--hover);
    --a-gs--color--fill--brand--selected: var(--t-gs--color--fill--brand--selected);
    --a-gs--color--fill--brand: var(--t-gs--color--fill--brand);
    --a-gs--color--fill--default--active: var(--t-gs--color--fill--default--active);
    --a-gs--color--fill--default--disabled: var(--t-gs--color--fill--default--disabled);
    --a-gs--color--fill--default--focus: var(--t-gs--color--fill--default--focus);
    --a-gs--color--fill--default--hover: var(--t-gs--color--fill--default--hover);
    --a-gs--color--fill--default--selected: var(--t-gs--color--fill--default--selected);
    --a-gs--color--fill--default: var(--t-gs--color--fill--default);
    --a-gs--color--fill--emphasis--active: var(--t-gs--color--fill--emphasis--active);
    --a-gs--color--fill--emphasis--disabled: var(--t-gs--color--fill--emphasis--disabled);
    --a-gs--color--fill--emphasis--focus: var(--t-gs--color--fill--emphasis--focus);
    --a-gs--color--fill--emphasis--hover: var(--t-gs--color--fill--emphasis--hover);
    --a-gs--color--fill--emphasis--selected: var(--t-gs--color--fill--emphasis--selected);
    --a-gs--color--fill--emphasis: var(--t-gs--color--fill--emphasis);
    --a-gs--color--fill--error: var(--t-gs--color--fill--error);
    --a-gs--color--fill--info: var(--t-gs--color--fill--info);
    --a-gs--color--fill--link--active: var(--t-gs--color--fill--link--active);
    --a-gs--color--fill--link--disabled: var(--t-gs--color--fill--link--disabled);
    --a-gs--color--fill--link--focus: var(--t-gs--color--fill--link--focus);
    --a-gs--color--fill--link--hover: var(--t-gs--color--fill--link--hover);
    --a-gs--color--fill--link--selected: var(--t-gs--color--fill--link--selected);
    --a-gs--color--fill--link: var(--t-gs--color--fill--link);
    --a-gs--color--fill--primary--active: var(--t-gs--color--fill--primary--active);
    --a-gs--color--fill--primary--disabled: var(--t-gs--color--fill--primary--disabled);
    --a-gs--color--fill--primary--focus: var(--t-gs--color--fill--primary--focus);
    --a-gs--color--fill--primary--hover: var(--t-gs--color--fill--primary--hover);
    --a-gs--color--fill--primary--selected: var(--t-gs--color--fill--primary--selected);
    --a-gs--color--fill--primary: var(--t-gs--color--fill--primary);
    --a-gs--color--fill--secondary--active: var(--t-gs--color--fill--secondary--active);
    --a-gs--color--fill--secondary--disabled: var(--t-gs--color--fill--secondary--disabled);
    --a-gs--color--fill--secondary--focus: var(--t-gs--color--fill--secondary--focus);
    --a-gs--color--fill--secondary--hover: var(--t-gs--color--fill--secondary--hover);
    --a-gs--color--fill--secondary--selected: var(--t-gs--color--fill--secondary--selected);
    --a-gs--color--fill--secondary: var(--t-gs--color--fill--secondary);
    --a-gs--color--fill--success: var(--t-gs--color--fill--success);
    --a-gs--color--fill--tertiary--active: var(--t-gs--color--fill--tertiary--active);
    --a-gs--color--fill--tertiary--disabled: var(--t-gs--color--fill--tertiary--disabled);
    --a-gs--color--fill--tertiary--focus: var(--t-gs--color--fill--tertiary--focus);
    --a-gs--color--fill--tertiary--hover: var(--t-gs--color--fill--tertiary--hover);
    --a-gs--color--fill--tertiary--selected: var(--t-gs--color--fill--tertiary--selected);
    --a-gs--color--fill--tertiary: var(--t-gs--color--fill--tertiary);
    --a-gs--color--fill--transparent: var(--t-gs--color--fill--transparent);
    --a-gs--color--fill--warning: var(--t-gs--color--fill--warning);
    --a-gs--color--surface--brand: var(--t-gs--color--surface--brand);
    --a-gs--color--surface--default: var(--t-gs--color--surface--default);
    --a-gs--color--surface--emphasis: var(--t-gs--color--surface--emphasis);
    --a-gs--color--surface--secondary: var(--t-gs--color--surface--secondary);
    --a-gs--color--surface--tertiary: var(--t-gs--color--surface--tertiary);
    --a-gs--color--surface--transparent: var(--t-gs--color--surface--transparent);
    --a-gs--color--text--brand: var(--t-gs--color--text--brand);
    --a-gs--color--text--default: var(--t-gs--color--text--default);
    --a-gs--color--text--disabled: var(--t-gs--color--text--disabled);
    --a-gs--color--text--emphasis: var(--t-gs--color--text--emphasis);
    --a-gs--color--text--error: var(--t-gs--color--text--error);
    --a-gs--color--text--info: var(--t-gs--color--text--info);
    --a-gs--color--text--link--active: var(--t-gs--color--text--link--active);
    --a-gs--color--text--link--disabled: var(--t-gs--color--text--link--disabled);
    --a-gs--color--text--link--focus: var(--t-gs--color--text--link--focus);
    --a-gs--color--text--link--hover: var(--t-gs--color--text--link--hover);
    --a-gs--color--text--link--selected: var(--t-gs--color--text--link--selected);
    --a-gs--color--text--link: var(--t-gs--color--text--link);
    --a-gs--color--text--on--fill--brand--active: var(--t-gs--color--text--on--fill--brand--active);
    --a-gs--color--text--on--fill--brand--disabled: var(--t-gs--color--text--on--fill--brand--disabled);
    --a-gs--color--text--on--fill--brand--focus: var(--t-gs--color--text--on--fill--brand--focus);
    --a-gs--color--text--on--fill--brand--hover: var(--t-gs--color--text--on--fill--brand--hover);
    --a-gs--color--text--on--fill--brand--selected: var(--t-gs--color--text--on--fill--brand--selected);
    --a-gs--color--text--on--fill--brand: var(--t-gs--color--text--on--fill--brand);
    --a-gs--color--text--on--fill--default--active: var(--t-gs--color--text--on--fill--default--active);
    --a-gs--color--text--on--fill--default--disabled: var(--t-gs--color--text--on--fill--default--disabled);
    --a-gs--color--text--on--fill--default--focus: var(--t-gs--color--text--on--fill--default--focus);
    --a-gs--color--text--on--fill--default--hover: var(--t-gs--color--text--on--fill--default--hover);
    --a-gs--color--text--on--fill--default--selected: var(--t-gs--color--text--on--fill--default--selected);
    --a-gs--color--text--on--fill--default: var(--t-gs--color--text--on--fill--default);
    --a-gs--color--text--on--fill--emphasis--active: var(--t-gs--color--text--on--fill--emphasis--active);
    --a-gs--color--text--on--fill--emphasis--disabled: var(--t-gs--color--text--on--fill--emphasis--disabled);
    --a-gs--color--text--on--fill--emphasis--focus: var(--t-gs--color--text--on--fill--emphasis--focus);
    --a-gs--color--text--on--fill--emphasis--hover: var(--t-gs--color--text--on--fill--emphasis--hover);
    --a-gs--color--text--on--fill--emphasis--selected: var(--t-gs--color--text--on--fill--emphasis--selected);
    --a-gs--color--text--on--fill--emphasis: var(--t-gs--color--text--on--fill--emphasis);
    --a-gs--color--text--on--fill--error: var(--t-gs--color--text--on--fill--error);
    --a-gs--color--text--on--fill--info: var(--t-gs--color--text--on--fill--info);
    --a-gs--color--text--on--fill--link--active: var(--t-gs--color--text--on--fill--link--active);
    --a-gs--color--text--on--fill--link--disabled: var(--t-gs--color--text--on--fill--link--disabled);
    --a-gs--color--text--on--fill--link--focus: var(--t-gs--color--text--on--fill--link--focus);
    --a-gs--color--text--on--fill--link--hover: var(--t-gs--color--text--on--fill--link--hover);
    --a-gs--color--text--on--fill--link--selected: var(--t-gs--color--text--on--fill--link--selected);
    --a-gs--color--text--on--fill--link: var(--t-gs--color--text--on--fill--link);
    --a-gs--color--text--on--fill--primary--active: var(--t-gs--color--text--on--fill--primary--active);
    --a-gs--color--text--on--fill--primary--disabled: var(--t-gs--color--text--on--fill--primary--disabled);
    --a-gs--color--text--on--fill--primary--focus: var(--t-gs--color--text--on--fill--primary--focus);
    --a-gs--color--text--on--fill--primary--hover: var(--t-gs--color--text--on--fill--primary--hover);
    --a-gs--color--text--on--fill--primary--selected: var(--t-gs--color--text--on--fill--primary--selected);
    --a-gs--color--text--on--fill--primary: var(--t-gs--color--text--on--fill--primary);
    --a-gs--color--text--on--fill--secondary--active: var(--t-gs--color--text--on--fill--secondary--active);
    --a-gs--color--text--on--fill--secondary--disabled: var(--t-gs--color--text--on--fill--secondary--disabled);
    --a-gs--color--text--on--fill--secondary--focus: var(--t-gs--color--text--on--fill--secondary--focus);
    --a-gs--color--text--on--fill--secondary--hover: var(--t-gs--color--text--on--fill--secondary--hover);
    --a-gs--color--text--on--fill--secondary--selected: var(--t-gs--color--text--on--fill--secondary--selected);
    --a-gs--color--text--on--fill--secondary: var(--t-gs--color--text--on--fill--secondary);
    --a-gs--color--text--on--fill--success: var(--t-gs--color--text--on--fill--success);
    --a-gs--color--text--on--fill--tertiary--active: var(--t-gs--color--text--on--fill--tertiary--active);
    --a-gs--color--text--on--fill--tertiary--disabled: var(--t-gs--color--text--on--fill--tertiary--disabled);
    --a-gs--color--text--on--fill--tertiary--focus: var(--t-gs--color--text--on--fill--tertiary--focus);
    --a-gs--color--text--on--fill--tertiary--hover: var(--t-gs--color--text--on--fill--tertiary--hover);
    --a-gs--color--text--on--fill--tertiary--selected: var(--t-gs--color--text--on--fill--tertiary--selected);
    --a-gs--color--text--on--fill--tertiary: var(--t-gs--color--text--on--fill--tertiary);
    --a-gs--color--text--on--fill--warning: var(--t-gs--color--text--on--fill--warning);
    --a-gs--color--text--strong: var(--t-gs--color--text--strong);
    --a-gs--color--text--subdued: var(--t-gs--color--text--subdued);
    --a-gs--color--text--success: var(--t-gs--color--text--success);
    --a-gs--color--text--transparent: var(--t-gs--color--text--transparent);
    --a-gs--color--text--warning: var(--t-gs--color--text--warning);
    --a-gs--font--family--default: var(--t-gs--font--family--default);
    --a-gs--font--family--emphasis: var(--t-gs--font--family--emphasis);
    --a-gs--font--size--00: var(--t-gs--font--size--03);
    --a-gs--font--size--01: var(--t-gs--font--size--04);
    --a-gs--font--size--02: var(--t-gs--font--size--05);
    --a-gs--font--size--03: var(--t-gs--font--size--06);
    --a-gs--font--size--04: var(--t-gs--font--size--07);
    --a-gs--font--size--05: var(--t-gs--font--size--08);
    --a-gs--font--size--06: var(--t-gs--font--size--09);
    --a-gs--font--size--07: var(--t-gs--font--size--10);
    --a-gs--font--size--08: var(--t-gs--font--size--11);
    --a-gs--font--size--09: var(--t-gs--font--size--12);
    --a-gs--font--size--10: var(--t-gs--font--size--13);
    --a-gs--font--size--default: var(--t-gs--font--size--default);
    --a-gs--swatch--brand--000: var(--t-gs--swatch--brand--000);
    --a-gs--swatch--brand--010: var(--t-gs--swatch--brand--010);
    --a-gs--swatch--brand--020: var(--t-gs--swatch--brand--020);
    --a-gs--swatch--brand--030: var(--t-gs--swatch--brand--030);
    --a-gs--swatch--brand--040: var(--t-gs--swatch--brand--040);
    --a-gs--swatch--brand--050: var(--t-gs--swatch--brand--050);
    --a-gs--swatch--brand--060: var(--t-gs--swatch--brand--060);
    --a-gs--swatch--brand--070: var(--t-gs--swatch--brand--070);
    --a-gs--swatch--brand--080: var(--t-gs--swatch--brand--080);
    --a-gs--swatch--brand--090: var(--t-gs--swatch--brand--090);
    --a-gs--swatch--brand--095: var(--t-gs--swatch--brand--095);
    --a-gs--swatch--brand--100: var(--t-gs--swatch--brand--100);
    --a-gs--color--brand--base--hue: var(--t-gs--swatch--brand--hue);
    --a-gs--color--brand--base--lig: var(--t-gs--swatch--brand--lig);
    --a-gs--color--brand--base--sat: var(--t-gs--swatch--brand--sat);
    --a-gs--swatch--button--000: var(--t-gs--swatch--button--000);
    --a-gs--swatch--button--010: var(--t-gs--swatch--button--010);
    --a-gs--swatch--button--020: var(--t-gs--swatch--button--020);
    --a-gs--swatch--button--030: var(--t-gs--swatch--button--030);
    --a-gs--swatch--button--040: var(--t-gs--swatch--button--040);
    --a-gs--swatch--button--050: var(--t-gs--swatch--button--050);
    --a-gs--swatch--button--060: var(--t-gs--swatch--button--060);
    --a-gs--swatch--button--070: var(--t-gs--swatch--button--070);
    --a-gs--swatch--button--080: var(--t-gs--swatch--button--080);
    --a-gs--swatch--button--090: var(--t-gs--swatch--button--090);
    --a-gs--swatch--button--095: var(--t-gs--swatch--button--095);
    --a-gs--swatch--button--100: var(--t-gs--swatch--button--100);
    --a-gs--color--button--base--hue: var(--t-gs--swatch--button--hue);
    --a-gs--color--button--base--lig: var(--t-gs--swatch--button--lig);
    --a-gs--color--button--base--sat: var(--t-gs--swatch--button--sat);
    --a-gs--swatch--emphasis--000: var(--t-gs--swatch--emphasis--000);
    --a-gs--swatch--emphasis--010: var(--t-gs--swatch--emphasis--010);
    --a-gs--swatch--emphasis--020: var(--t-gs--swatch--emphasis--020);
    --a-gs--swatch--emphasis--030: var(--t-gs--swatch--emphasis--030);
    --a-gs--swatch--emphasis--040: var(--t-gs--swatch--emphasis--040);
    --a-gs--swatch--emphasis--050: var(--t-gs--swatch--emphasis--050);
    --a-gs--swatch--emphasis--060: var(--t-gs--swatch--emphasis--060);
    --a-gs--swatch--emphasis--070: var(--t-gs--swatch--emphasis--070);
    --a-gs--swatch--emphasis--080: var(--t-gs--swatch--emphasis--080);
    --a-gs--swatch--emphasis--090: var(--t-gs--swatch--emphasis--090);
    --a-gs--swatch--emphasis--095: var(--t-gs--swatch--emphasis--095);
    --a-gs--swatch--emphasis--100: var(--t-gs--swatch--emphasis--100);
    --a-gs--color--emphasis--base--hue: var(--t-gs--swatch--emphasis--hue);
    --a-gs--color--emphasis--base--lig: var(--t-gs--swatch--emphasis--lig);
    --a-gs--color--emphasis--base--sat: var(--t-gs--swatch--emphasis--sat);
    --a-gs--swatch--error--000: var(--t-gs--swatch--error--000);
    --a-gs--swatch--error--010: var(--t-gs--swatch--error--010);
    --a-gs--swatch--error--020: var(--t-gs--swatch--error--020);
    --a-gs--swatch--error--030: var(--t-gs--swatch--error--030);
    --a-gs--swatch--error--040: var(--t-gs--swatch--error--040);
    --a-gs--swatch--error--050: var(--t-gs--swatch--error--050);
    --a-gs--swatch--error--060: var(--t-gs--swatch--error--060);
    --a-gs--swatch--error--070: var(--t-gs--swatch--error--070);
    --a-gs--swatch--error--080: var(--t-gs--swatch--error--080);
    --a-gs--swatch--error--090: var(--t-gs--swatch--error--090);
    --a-gs--swatch--error--095: var(--t-gs--swatch--error--095);
    --a-gs--swatch--error--100: var(--t-gs--swatch--error--100);
    --a-gs--color--error--base--hue: var(--t-gs--swatch--error--hue);
    --a-gs--color--error--base--lig: var(--t-gs--swatch--error--lig);
    --a-gs--color--error--base--sat: var(--t-gs--swatch--error--sat);
    --a-gs--swatch--info--000: var(--t-gs--swatch--info--000);
    --a-gs--swatch--info--010: var(--t-gs--swatch--info--010);
    --a-gs--swatch--info--020: var(--t-gs--swatch--info--020);
    --a-gs--swatch--info--030: var(--t-gs--swatch--info--030);
    --a-gs--swatch--info--040: var(--t-gs--swatch--info--040);
    --a-gs--swatch--info--050: var(--t-gs--swatch--info--050);
    --a-gs--swatch--info--060: var(--t-gs--swatch--info--060);
    --a-gs--swatch--info--070: var(--t-gs--swatch--info--070);
    --a-gs--swatch--info--080: var(--t-gs--swatch--info--080);
    --a-gs--swatch--info--090: var(--t-gs--swatch--info--090);
    --a-gs--swatch--info--095: var(--t-gs--swatch--info--095);
    --a-gs--swatch--info--100: var(--t-gs--swatch--info--100);
    --a-gs--color--info--base--hue: var(--t-gs--swatch--info--hue);
    --a-gs--color--info--base--lig: var(--t-gs--swatch--info--lig);
    --a-gs--color--info--base--sat: var(--t-gs--swatch--info--sat);
    --a-gs--swatch--link--000: var(--t-gs--swatch--link--000);
    --a-gs--swatch--link--010: var(--t-gs--swatch--link--010);
    --a-gs--swatch--link--020: var(--t-gs--swatch--link--020);
    --a-gs--swatch--link--030: var(--t-gs--swatch--link--030);
    --a-gs--swatch--link--040: var(--t-gs--swatch--link--040);
    --a-gs--swatch--link--050: var(--t-gs--swatch--link--050);
    --a-gs--swatch--link--060: var(--t-gs--swatch--link--060);
    --a-gs--swatch--link--070: var(--t-gs--swatch--link--070);
    --a-gs--swatch--link--080: var(--t-gs--swatch--link--080);
    --a-gs--swatch--link--090: var(--t-gs--swatch--link--090);
    --a-gs--swatch--link--095: var(--t-gs--swatch--link--095);
    --a-gs--swatch--link--100: var(--t-gs--swatch--link--100);
    --a-gs--color--link--base--hue: var(--t-gs--swatch--link--hue);
    --a-gs--color--link--base--lig: var(--t-gs--swatch--link--lig);
    --a-gs--color--link--base--sat: var(--t-gs--swatch--link--sat);
    --a-gs--swatch--neutral--000: var(--t-gs--swatch--neutral--000);
    --a-gs--swatch--neutral--010: var(--t-gs--swatch--neutral--010);
    --a-gs--swatch--neutral--020: var(--t-gs--swatch--neutral--020);
    --a-gs--swatch--neutral--030: var(--t-gs--swatch--neutral--030);
    --a-gs--swatch--neutral--040: var(--t-gs--swatch--neutral--040);
    --a-gs--swatch--neutral--050: var(--t-gs--swatch--neutral--050);
    --a-gs--swatch--neutral--060: var(--t-gs--swatch--neutral--060);
    --a-gs--swatch--neutral--070: var(--t-gs--swatch--neutral--070);
    --a-gs--swatch--neutral--080: var(--t-gs--swatch--neutral--080);
    --a-gs--swatch--neutral--090: var(--t-gs--swatch--neutral--090);
    --a-gs--swatch--neutral--095: var(--t-gs--swatch--neutral--095);
    --a-gs--swatch--neutral--100: var(--t-gs--swatch--neutral--100);
    --a-gs--color--neutral--base--hue: var(--t-gs--swatch--neutral--hue);
    --a-gs--color--neutral--base--lig: var(--t-gs--swatch--neutral--lig);
    --a-gs--color--neutral--base--sat: var(--t-gs--swatch--neutral--sat);
    --a-gs--swatch--neutral--transparent: var(--t-gs--swatch--neutral--transparent);
    --a-gs--swatch--success--000: var(--t-gs--swatch--success--000);
    --a-gs--swatch--success--010: var(--t-gs--swatch--success--010);
    --a-gs--swatch--success--020: var(--t-gs--swatch--success--020);
    --a-gs--swatch--success--030: var(--t-gs--swatch--success--030);
    --a-gs--swatch--success--040: var(--t-gs--swatch--success--040);
    --a-gs--swatch--success--050: var(--t-gs--swatch--success--050);
    --a-gs--swatch--success--060: var(--t-gs--swatch--success--060);
    --a-gs--swatch--success--070: var(--t-gs--swatch--success--070);
    --a-gs--swatch--success--080: var(--t-gs--swatch--success--080);
    --a-gs--swatch--success--090: var(--t-gs--swatch--success--090);
    --a-gs--swatch--success--095: var(--t-gs--swatch--success--095);
    --a-gs--swatch--success--100: var(--t-gs--swatch--success--100);
    --a-gs--color--success--base--hue: var(--t-gs--swatch--success--hue);
    --a-gs--color--success--base--lig: var(--t-gs--swatch--success--lig);
    --a-gs--color--success--base--sat: var(--t-gs--swatch--success--sat);
    --a-gs--swatch--warning--000: var(--t-gs--swatch--warning--000);
    --a-gs--swatch--warning--010: var(--t-gs--swatch--warning--010);
    --a-gs--swatch--warning--020: var(--t-gs--swatch--warning--020);
    --a-gs--swatch--warning--030: var(--t-gs--swatch--warning--030);
    --a-gs--swatch--warning--040: var(--t-gs--swatch--warning--040);
    --a-gs--swatch--warning--050: var(--t-gs--swatch--warning--050);
    --a-gs--swatch--warning--060: var(--t-gs--swatch--warning--060);
    --a-gs--swatch--warning--070: var(--t-gs--swatch--warning--070);
    --a-gs--swatch--warning--080: var(--t-gs--swatch--warning--080);
    --a-gs--swatch--warning--090: var(--t-gs--swatch--warning--090);
    --a-gs--swatch--warning--095: var(--t-gs--swatch--warning--095);
    --a-gs--swatch--warning--100: var(--t-gs--swatch--warning--100);
    --a-gs--color--warning--base--hue: var(--t-gs--swatch--warning--hue);
    --a-gs--color--warning--base--lig: var(--t-gs--swatch--warning--lig);
    --a-gs--color--warning--base--sat: var(--t-gs--swatch--warning--sat);
    /*
    --a-gs--text--font--family: var();
    --a-gs--text--font--size--01: var();
    --a-gs--text--font--size--02: var();
    */
    --a-gs--title--font--family: var(--t-tc--title--font--family);
    --a-gs--title--font--size--01: var(--t-tc--title--h1);
    --a-gs--title--font--size--02: var(--t-tc--title--h2);
    --a-gs--title--font--size--03: var(--t-tc--title--h3);
    --a-gs--title--font--size--04: var(--t-tc--title--h4);
    --a-gs--button--font--family: var(--t-tc--buttons--font--family);
    --a-gs--button--font--size: var(--t-tc--buttons--font--size);
}