
/* STARS RATING: STAR STYLES
   ========================================================================== */

  .stars-rating {
    display: table;
    position: relative;
    unicode-bidi: bidi-override;
    direction: rtl;
    counter-reset: stars-rating__star;
    font-size: 0;
    margin-bottom: 16px;
  }
  
  .stars-rating__star::before {
    font-size: 24px;
  }
  
  .stars-rating:hover .stars-rating__star::before {
    content: "\2606";
    color: var(--stars-color-passive);
  }
  
  .stars-rating:hover .stars-rating__star:hover::before,
  .stars-rating:hover .stars-rating__star:hover ~ .stars-rating__star::before {
    content: "\2605";
    color: var(--stars-color-hover);
  }
  
  .stars-rating .stars-rating__star {
    display: inline-block;
    cursor: pointer;
    padding: 0 0;
    direction: ltr;
    color: rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    margin-right: 8px;
  }
  
  .stars-rating .stars-rating__star::before {
    content: "\2606";
    color: var(--stars-color-active);
  }
  
  .stars-rating .stars-rating__star:hover,
  .stars-rating .stars-rating__star:hover ~ .stars-rating__star,
  .stars-rating input:checked ~ .stars-rating__star {
    color: var(--stars-color-passive);
  }
  
  .stars-rating .stars-rating__star--zero {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    padding: 0 0;
    direction: ltr;
    color: rgba(0, 0, 0, 0);
    font-size: 20px;
    white-space: nowrap;
  }
  
  .stars-rating .stars-rating__star--zero--hidden {
    font-size: 5px;
  }
  
  .stars-rating input:checked ~ .stars-rating__star::before {
    content: "\2605";
    color: var(--stars-color-active);
  }




/* STARS */
.radioIconStars {
  display: inline-block;
  position: relative;
  unicode-bidi: bidi-override;
  direction: rtl;
  counter-reset: star-rating;
  font-size: 0;
}
.radioIconStars:hover .radioIconStar::before {
  content: "\2605";
}
.radioIconStars:hover .radioIconStar:hover::before,
.radioIconStars:hover .radioIconStar:hover ~ .radioIconStar::before {
  content: "\2605";
}

.radioIconStar {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  padding: 0 0px;
  width: 0.9em;
  direction: ltr;
  color: rgba(0, 0, 0, 0.25);
  font-size: 40px;
  white-space: nowrap;
}
.radioIconStar::before {
  content: "\2605";
}
.radioIconStar:hover, .radioIconStar:hover ~ .radioIconStar, input:checked ~ .radioIconStar {
  color: orange;
}

.radioIconStar-zero {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  padding: 0 0px;
  width: 0.9em;
  direction: ltr;
  color: rgba(0, 0, 0, 0);
  font-size: 20px;
  white-space: nowrap;
}

input:checked ~ .radioIconStar::before {
  content: "\2605";
}
