/* FIXME - Almost identical to harp - ErrorIndicator.css */

.pkg_Content {
    z-index: 9999999;
    top: 0;
    left: 50%;
    position: fixed;
    max-width: 100%;
    width: 900px;
    padding: 1rem;
    line-height: normal; /* firefox 3.6 clipped the text otherwise */
    border-bottom: 1px solid var(--tin-avaHoney600);
    border-right: 1px solid var(--tin-avaHoney600);
    border-left: 1px solid var(--tin-avaHoney600);
    background-color: var(--tin-avaHoney300);
    border-radius: 0 0 3px 3px;
    display: flex;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.pkg_Icon {
    width: 3rem;
    height: 3rem;
    margin-right: 0.75rem;
    vertical-align: middle;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDM2IDM2Ij4KICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgPGNpcmNsZSBjeD0iMTgiIGN5PSIxOCIgcj0iMTgiIGZpbGw9IiNGRkYiLz4KICAgIDxwYXRoIGZpbGw9IiM0QjRCNEIiIGQ9Ik0xNy41NDM4MjMyLDIxLjg5NjI0MDIgTDE3LDE0LjIxMzUwMSBMMTcsMTEgTDE5LjIwNDk1NjEsMTEgTDE5LjIwNDk1NjEsMTQuMjEzNTAxIEwxOC42OTA3OTU5LDIxLjg5NjI0MDIgTDE3LjU0MzgyMzIsMjEuODk2MjQwMiBaIE0xNy4wNzkxMDE2LDI1LjQ5NTM2MTMgTDE3LjA3OTEwMTYsMjMuNDY4MzgzOCBMMTkuMTI1ODU0NSwyMy40NjgzODM4IEwxOS4xMjU4NTQ1LDI1LjQ5NTM2MTMgTDE3LjA3OTEwMTYsMjUuNDk1MzYxMyBaIi8+CiAgPC9nPgo8L3N2Zz4K);
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.pkg_Blinking {
    background-color: var(--tin-avaHoney300);
}

.pkg_Message {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0px;
    color: var(--tin-avaBlack);
    overflow: hidden;
    align-self: center;
    padding-right: 0.75rem;
}

.pkg_CloseButton {
    vertical-align: top;
    flex-shrink: 0;
    margin-left: auto;
}
