/* Animated image */

:root {
    --animate_image_scroll: 120px;
}

.animate_image.fusion-fullwidth {
    position: relative;
    width: var(--animate_image_scroll) !important;
    padding: 0 !important;
    /* margin-bottom: calc(var(--animate_image_scroll) / 2 * -1) !important; */
}

.animate_image svg {
    width: 100%;
}

.animate_image.left.scroll.fusion-fullwidth {
    left: calc(-1 * var(--animate_image_scroll));
    z-index: 10;
    transition: left 0.1s;
}

.animate_image.right.scroll.fusion-fullwidth {
    right: calc(-100vw + var(--animate_image_scroll));
    z-index: 11;
    transition: right 0.1s;
}

.animate_image.left.scroll.fusion-fullwidth.animating {
    left: var(--animate_image_scroll);
    transition: left 0.1s;
}

.animate_image.right.scroll.fusion-fullwidth.animating {
    right: calc(-100vw + var(--animate_image_scroll));
    transition: right 0.1s;
}


/* Tablet */

@media screen and (max-width: 991px) {
    /* .animate_image {
        display: none !important;
    } */
}


/* Animations */

@keyframes slideRight {
    from {
        left: -50%
    }
    to {
        left: 0;
    }
}

@keyframes slideLeft {
    from {
        left: 50%
    }
    to {
        left: 0;
    }
}


/* Pulse */

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgb(26, 65, 113, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(26, 65, 113, 0.4);
        box-shadow: 0 0 0 0 rgb(26, 65, 113, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}