.gray-color{
 color: #d3d3d3 !important;
}

.gray-color-bg{
 background-color: #d3d3d3 !important;
}

.gray-color-border{
 border-color: #d3d3d3 !important;
}

.gray-lighter{
 color: #fcfcfc !important;
}

.gray-lighter-bg{
 background-color: #fcfcfc !important;
}

.gray-lighter-border{
 border-color: #fcfcfc !important;
}

.brand-color-secondary{
 color: #ffffff !important;
}

.brand-color-secondary-bg{
 background-color: #ffffff !important;
}

.brand-color-secondary-border{
 border-color: #ffffff !important;
}

.darkar{
 color: #262626 !important;
}

.darkar-bg{
 background-color: #262626 !important;
}

.darkar-border{
 border-color: #262626 !important;
}

.dark-color-light{
 color: #848484 !important;
}

.dark-color-light-bg{
 background-color: #848484 !important;
}

.dark-color-light-border{
 border-color: #848484 !important;
}

.gray-light{
 color: #F5F5F5 !important;
}

.gray-light-bg{
 background-color: #F5F5F5 !important;
}

.gray-light-border{
 border-color: #F5F5F5 !important;
}

.dark-color{
 color: #424242 !important;
}

.dark-color-bg{
 background-color: #424242 !important;
}

.dark-color-border{
 border-color: #424242 !important;
}

.dark-color-lighter{
 color: #8f8f8f !important;
}

.dark-color-lighter-bg{
 background-color: #8f8f8f !important;
}

.dark-color-lighter-border{
 border-color: #8f8f8f !important;
}

.gray-darkar{
 color: #9b9b9b !important;
}

.gray-darkar-bg{
 background-color: #9b9b9b !important;
}

.gray-darkar-border{
 border-color: #9b9b9b !important;
}

.brand-color-primary{
 color: #164994 !important;
}

.brand-color-primary-bg{
 background-color: #164994 !important;
}

.brand-color-primary-border{
 border-color: #164994 !important;
}

.ph-u4Ph0{
 color: #ab58a2 !important;
}

.ph-u4Ph0-bg{
 background-color: #ab58a2 !important;
}

.ph-u4Ph0-border{
 border-color: #ab58a2 !important;
}

.ph-Cp79j{
 color: #f26b4b !important;
}

.ph-Cp79j-bg{
 background-color: #f26b4b !important;
}

.ph-Cp79j-border{
 border-color: #f26b4b !important;
}

.ph-Hkqf9{
 color: #b575b1 !important;
}

.ph-Hkqf9-bg{
 background-color: #b575b1 !important;
}

.ph-Hkqf9-border{
 border-color: #b575b1 !important;
}

.ph-zadtW{
 color: #9fdae9 !important;
}

.ph-zadtW-bg{
 background-color: #9fdae9 !important;
}

.ph-zadtW-border{
 border-color: #9fdae9 !important;
}

.ph-ru6cM{
 color: #d2a9cf !important;
}

.ph-ru6cM-bg{
 background-color: #d2a9cf !important;
}

.ph-ru6cM-border{
 border-color: #d2a9cf !important;
}

.ph-FRbot{
 color: #f58a71 !important;
}

.ph-FRbot-bg{
 background-color: #f58a71 !important;
}

.ph-FRbot-border{
 border-color: #f58a71 !important;
}

.ph-Nff3V{
 color: #d9f0f9 !important;
}

.ph-Nff3V-bg{
 background-color: #d9f0f9 !important;
}

.ph-Nff3V-border{
 border-color: #d9f0f9 !important;
}

.ph-VR5EQ{
 color: #565451 !important;
}

.ph-VR5EQ-bg{
 background-color: #565451 !important;
}

.ph-VR5EQ-border{
 border-color: #565451 !important;
}

.ph-FieAt{
 color: #2d2b26 !important;
}

.ph-FieAt-bg{
 background-color: #2d2b26 !important;
}

.ph-FieAt-border{
 border-color: #2d2b26 !important;
}

.ph-Xpakc{
 color: #ffc843 !important;
}

.ph-Xpakc-bg{
 background-color: #ffc843 !important;
}

.ph-Xpakc-border{
 border-color: #ffc843 !important;
}

.ph-932eS{
 color: #3cc4e3 !important;
}

.ph-932eS-bg{
 background-color: #3cc4e3 !important;
}

.ph-932eS-border{
 border-color: #3cc4e3 !important;
}

.ph-wDGOS{
 color: #959391 !important;
}

.ph-wDGOS-bg{
 background-color: #959391 !important;
}

.ph-wDGOS-border{
 border-color: #959391 !important;
}

.ph-d3lRZ{
 color: #ffb4ab !important;
}

.ph-d3lRZ-bg{
 background-color: #ffb4ab !important;
}

.ph-d3lRZ-border{
 border-color: #ffb4ab !important;
}

.ph-m4vwQ{
 color: #ffc843 !important;
}

.ph-m4vwQ-bg{
 background-color: #ffc843 !important;
}

.ph-m4vwQ-border{
 border-color: #ffc843 !important;
}

.ph-Ah2hZ{
 color: #f26b4b !important;
}

.ph-Ah2hZ-bg{
 background-color: #f26b4b !important;
}

.ph-Ah2hZ-border{
 border-color: #f26b4b !important;
}

.ph-AYyvM{
 color: #ffd572 !important;
}

.ph-AYyvM-bg{
 background-color: #ffd572 !important;
}

.ph-AYyvM-border{
 border-color: #ffd572 !important;
}

.ph-Nt35T{
 color: #565451 !important;
}

.ph-Nt35T-bg{
 background-color: #565451 !important;
}

.ph-Nt35T-border{
 border-color: #565451 !important;
}

.ph-gEm5e{
 color: #ab58a2 !important;
}

.ph-gEm5e-bg{
 background-color: #ab58a2 !important;
}

.ph-gEm5e-border{
 border-color: #ab58a2 !important;
}

.ph-V4EOS{
 color: #959391 !important;
}

.ph-V4EOS-bg{
 background-color: #959391 !important;
}

.ph-V4EOS-border{
 border-color: #959391 !important;
}

.ph-bPAEW{
 color: #b575b1 !important;
}

.ph-bPAEW-bg{
 background-color: #b575b1 !important;
}

.ph-bPAEW-border{
 border-color: #b575b1 !important;
}

.ph-f2iPb{
 color: #2d2b26 !important;
}

.ph-f2iPb-bg{
 background-color: #2d2b26 !important;
}

.ph-f2iPb-border{
 border-color: #2d2b26 !important;
}

.ph-gif87{
 color: #d2a9cf !important;
}

.ph-gif87-bg{
 background-color: #d2a9cf !important;
}

.ph-gif87-border{
 border-color: #d2a9cf !important;
}

.ph-7CDTI{
 color: #ffdfa7 !important;
}

.ph-7CDTI-bg{
 background-color: #ffdfa7 !important;
}

.ph-7CDTI-border{
 border-color: #ffdfa7 !important;
}

.ph-JcHn0{
 color: #f58a71 !important;
}

.ph-JcHn0-bg{
 background-color: #f58a71 !important;
}

.ph-JcHn0-border{
 border-color: #f58a71 !important;
}

.ph-5KNmu{
 color: #ffb4ab !important;
}

.ph-5KNmu-bg{
 background-color: #ffb4ab !important;
}

.ph-5KNmu-border{
 border-color: #ffb4ab !important;
}

.ph-7yvqq{
 color: #d9f0f9 !important;
}

.ph-7yvqq-bg{
 background-color: #d9f0f9 !important;
}

.ph-7yvqq-border{
 border-color: #d9f0f9 !important;
}

.ph-uSosM{
 color: #3cc4e3 !important;
}

.ph-uSosM-bg{
 background-color: #3cc4e3 !important;
}

.ph-uSosM-border{
 border-color: #3cc4e3 !important;
}

.ph-dEXXr{
 color: #9fdae9 !important;
}

.ph-dEXXr-bg{
 background-color: #9fdae9 !important;
}

.ph-dEXXr-border{
 border-color: #9fdae9 !important;
}

.ph-fMZUe{
 color: #ffffff !important;
}

.ph-fMZUe-bg{
 background-color: #ffffff !important;
}

.ph-fMZUe-border{
 border-color: #ffffff !important;
}

