.above_text,.bove-banner{
    font-family: 'mr-eaves-xl-modern';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.1em;
    color: #047FAD;
    text-transform: uppercase;
}
.under_text{
    font-family: 'p22-mackinac-pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #072834;
    padding-left: 50px;
}
.team_area{
    display: flex;
    justify-content: initial;
    flex-wrap: wrap;
}

.team_area-img--anim {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.team_area .team_member{
    width: 32%;
}

.team_member-img-container {
    position: relative;

}

/*.team_member-img-container:hover .team_area-img--anim{*/
/*   opacity: 1;*/
/*}*/

/*.team_member-img-container:hover .team_area-img--static{*/
/*    opacity: 0;*/
/*}*/


.team_member img{
    width: 100%;
    height: 370px;
    object-fit: cover;
    transition: 1.3s all ease;
}
.m_name{
    font-family: 'p22-mackinac-pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #00AEEF;
    margin-top: 10px;
}
.m_job{
    font-family: 'mr-eaves-xl-modern';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #072834;
    margin-bottom: 15%;
}
.team_title{
    font-family: 'mr-eaves-xl-modern';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    align-items: center;
    letter-spacing: -0.02em;
    color: #00AEEF;
    margin-top: 30px;
    margin-bottom: 60px;
}
.team_area.team2 .m_name{
    margin-bottom: 20%;
}
.join_area{
    width: 100%;
    max-width: 670px;
    margin: 50px auto;
    text-align: center;
}
.join_area div{
    display: inline-block;
}
.join_area .btn{
    display: inline-block;
    margin-top: 40px;
}
.join_title{
    font-family: 'mr-eaves-xl-modern';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 46px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #BDD73C;
    margin-bottom: 45px;
}
.join_text{
    font-family: 'p22-mackinac-pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #4A5F0B;
}

.btn.btn_white{
    background-color: #A1BB1E;
    color: white;
    max-width: 275px;
    width: 90%;
}
.btn.btn_white::before{
    background: url(../img/arrow-white.svg) no-repeat;
}

@media (max-width: 1000px) {
    .team_area .team_member{
        width: 48%;
    }
}
@media (max-width: 575px) {
    .team_area .team_member{
        width: 100%;
    }
}